<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Summary</title>

    <!-- CSS - Global and Module Level -->
    <link rel="stylesheet" href="../shared/css/popup.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/common.css" type="text/css">
    <!--<link rel="stylesheet" href="../shared/css/global.css" type="text/css">-->
    <!--<link rel="stylesheet" href="../shared/css/kinesis.appnav.css" type="text/css">-->
    <link rel="stylesheet" href="../shared/css/pagetransistion.css" type="text/css">

    <!-- CSS - Page Level -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>

<body class="disableclick" data-trackingabbreviation="FPO">
    <div id="pagecontenttransition" class="hidecontent">
        <div class="container">
            <!-- CONTENT GOES HERE -->
            <div class="shadow-content">
                <h1>STAY CONNECTED</h1>
                <p>Select a topic to follow up on:</p>
                <ul id="recaplist" class="topic-list horizontalscrollable">

                </ul>
                <a href="#" class="btn-send-mail" ontouchend="slideDynamicRecapBuilder.prototype.addContentSendEmail()">SEND EMAIL</a>
            </div>
            <!-- END CONTENT GOES HERE -->
        </div>
        <!-- //container -->
        <!-- Global App Navigation -->
        <div id="header-nav" class="nav-bg">
            <div class="homebutton remotebtn"></div>
        </div>
        <div id="leftnavigationalarrow" class="arrow leftarrow" ontouchend="goPrev()"></div>
        <div id="rightnavigationalarrow" class="arrow rightarrow" ontouchend="goNext()"></div>

        <!-- //Global App Navigation -->
        <div class="slideout">
            <div class="grey-btn remotebtn"></div>
            <ul id="swimlaneUL">

            </ul>
        </div>
    </div>

    <div id="isi" class="popup inactive button slidedown" frame="../shared/isi-frame.html" popBg="1"></div>

    <div id="dyanmicemailtemp">
        <table id="tempTable"></table>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/veeva-library-4.1.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/kinesis.lib/iRep-tracking.js"></script> -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/popups.min.js"></script>

    <script type="text/javascript" src="../shared/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="../shared/js/html2canvas.js"></script>
    <script type="text/javascript" src="../shared/js/remote.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>

    <script type="text/javascript">
        var zipName = "Standalone-GluVivaKinesis-summary.zip";
        var dsaId = "StandaloneGluVivaKinesisSummitExample";
        //var userCanJump = false;
        var forcedISIImplemented = false;
    </script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBase-v1.0.js"></script>
    <script type="text/javascript" src="../shared/js/TileData.js"></script>
    <script type="text/javascript" src="../shared/js/forcedISI.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisNavigation.js"></script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script type="text/javascript">
        $('.grey-btn').on("touchend", function() {
            $('.slideout').toggleClass('slideout-open');
        });
    </script>


    <script type="text/javascript" src="../shared/js/kinesis.lib/page-bounce.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/page-transitions.js"></script>
    <script type="text/javascript" src="../shared/js/SlideRecapData.js"></script>
    <script type="text/javascript" src="../shared/js/slideDynamicRecapEmailBuilder.js"></script>
    <!--<script type="text/javascript" src="../shared/js/trackingConstructor.js"></script>-->


</body>

</html>
