<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Formulary</title>

    <!-- CSS - Global and Module Level -->
    <link rel="stylesheet" href="../shared/css/popup.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/common.css" type="text/css">
    <!--<link rel="stylesheet" href="../shared/css/global.css" type="text/css">-->
    <!--<link rel="stylesheet" href="../shared/css/kinesis.appnav.css" type="text/css">-->
    <link rel="stylesheet" href="../shared/css/pagetransistion.css" type="text/css">
    <!-- CSS - Page Level -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>

<body class="disableclick" data-trackingabbreviation="FPO">
    <div id="pagecontenttransition" class="hidecontent">
        <div class="container">
            <!-- CONTENT GOES HERE -->
            <div id="content">
                <section id="graph">
                    <div id="chart"></div>
                    <div id="guideWrap"></div>
                    <img id="studyDesign">
                    <div id="studyDesignOverlay"></div>
                    <div id="studyDesignClose"></div>
                </section>

                <h1>See the favorable coverage for gluviva</h1>

                <section id="formulary" class="formulary inactive">
                    <div class="fomrulary-bd">
                        <form class="select-row">
                            <div class="formGroup">
                                <label for="state">State</label>
                                <div class="customSelect">
                                    <select id="state" name="state" class="remotebtn"></select>
                                </div>
                            </div>
                            <div class="formGroup">
                                <label for="county">County</label>
                                <div class="customSelect">
                                    <select id="county" name="county" class="remotebtn"></select>
                                </div>
                            </div>
                        </form>
                        <div class="searchHeader">
                            <h2>Top 5 Medicare Part D Plans in <span id="countyName">...</span></h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="searchResults">

                                    <div class="plansWrapper">
                                        <ul id="plans"></ul>
                                    </div>
                                </div>
                                <div class="nav">
                                    <ul class="nav-tabs">
                                        <li class="large active"><a href="#">Local Medicare <br />Part D</a></li>
                                        <li class="large"><a href="#">National Medicare Part D</a></li>
                                        <li class="small"><a href="#">Local<br>Commercial</a></li>
                                        <li class="small"><a href="#">National<br>Commercial</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="nav-aside">
                                    <img src="../shared/images/img-$10.png" alt="$10" /> Commercial patients can get the
                                    <br /><strong>$10 co-pay</strong> regardless of
                                    <br />formulary coverage
                                </div>
                            </div>
                        </div>
                    </div>


                </section>

                <div id="footerCopy"></div>
            </div>
            <!-- END CONTENT GOES HERE -->
        </div>
        <!-- //container -->
        <!-- Global App Navigation -->
        <div id="header-nav" class="nav-bg">
            <div class="homebutton remotebtn"></div>
        </div>
        <div id="leftnavigationalarrow" class="arrow leftarrow" ontouchend="goPrev()"></div>
        <div id="rightnavigationalarrow" class="arrow rightarrow" ontouchend="goNext()"></div>

        <!-- //Global App Navigation -->
        <div class="slideout">
            <div class="grey-btn remotebtn"></div>
            <ul id="swimlaneUL">

            </ul>
        </div>
    </div>

    <div id="isi" class="popup inactive button slidedown" frame="../shared/isi-frame.html" popBg="1"></div>
    <!-- Javascript -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/veeva-library-4.1.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/kinesis.lib/iRep-tracking.js"></script> -->
    <!--<script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>-->
    <script type="text/javascript" src="../shared/js/kinesis.lib/popups.min.js"></script>
    <script type="text/javascript">
        var zipName = "Standalone-GluVivaKinesis-formulary.zip";
        var dsaId = "StandaloneGluVivaKinesisSummitExample";
    </script>
    <script type="text/javascript" src="../shared/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="../shared/js/html2canvas.js"></script>
    <script type="text/javascript" src="../shared/js/remote.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBase-v1.0.js"></script>
    <script type="text/javascript" src="../shared/js/TileData.js"></script>
    <script type="text/javascript" src="../shared/js/forcedISI.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisNavigation.js"></script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script type="text/javascript">
        $('.grey-btn').on("touchend", function() {
            $('.slideout').toggleClass('slideout-open');
        });
    </script>
    <script type="text/javascript" src="../shared/js/chartView.js"></script>
    <script type="text/javascript" src="../shared/js/formularyView.js"></script>
    <script type="text/javascript" src="../shared/js/formularyData.js"></script>

    <script type="text/javascript" src="../shared/js/slideDynamicRecapEmailRecorder.js"></script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/page-bounce.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/page-transitions.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/trackingConstructor.js"></script> -->

</body>

</html>
