.container {
    background: linear-gradient(to bottom right, #113b71, #6b1455);
}

.shadow-content {
    position: relative;
    text-align: center;
    padding-top: 62px;
    background: url(../../shared/images/top-ellipse.png) no-repeat center -80px / 460px, linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    height: 515px;
}

h1 {
    font: 61px/60px 'SanFran-Bold';
    color: #fff;
    margin: 0 0 10px;
}

p {
    font: 21px/20px 'SanFran-Regular';
    color: #fff;
    margin: 15px 0;
}

ul.topic-list {
    list-style: none;
    margin: 102px 0 0;
    padding: 20px 57px;
    white-space: nowrap;
    overflow-x: auto;
}

ul.topic-list li {
    display: inline-block;
    width: 175px;
    margin: 0 16px;
    text-align: left;
    white-space: normal;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    vertical-align: top;
}

ul.topic-list li.removed img {
    opacity: .6;
}

ul.topic-list li .whitebackground {
    width: 163px;
    height: 122px;
    background: #fff;
    position: absolute;
}

ul.topic-list li .img {
    width: 160px;
    height: 105px;
    position: relative;
}

.removebutton {
    height: 33px;
    width: 33px;
    background: url(../../shared/images/removebutton.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 145px;
    top: -15px;
    display: none
}

.emailable .removebutton {
    display: block
}

.addbutton {
    height: 33px;
    width: 33px;
    background: url(../../shared/images/addbutton.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 65px;
    top: 45px;
}

.emailable .addbutton {
    display: none
}

ul.topic-list li h4 {
    font: 15px/15px 'SanFran-Bold';
    color: #fff;
    width: 155px;
    margin: 20px 0 5px;
}

ul.topic-list li p {
    font: 13px/15px 'SanFran-Regular';
    color: #fff;
    width: 155px;
    margin: 8px 0;
    letter-spacing: .3px;
}

a.btn-send-mail {
    background: #263e73;
    font: 18px/18px 'SanFran-Heavy';
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: -25px;
    left: 420px;
    padding: 17px 33px;
    letter-spacing: 1.8px;
    border-radius: 5px;
}

.slideout {
    margin-top: 46px;
}

.slideout ul {
    padding: 41px 0 0;
    background: none;
    margin: 15px 0 0 97px;
}

.slideout ul li {
    display: inline-block;
    margin: 26px 30px;
    padding: 0 0 0 0;
}

#dyanmicemailtemp {
    display: none;
}