#homebutton {
    display: none
}

#bodyhome h1 {
    font: 24px/24px "AvenirNextCondensed-Regular";
    color: #fff;
}

.utilitybutton {
    display: inline-block;
    margin: 0 20px 0 0;
    opacity: .6;
    width: 76px;
    height: 48px;
    position: absolute;
}

.gearbutton {
    height: 55px;
    width: 55px;
    left: 945px;
    top: 20px;
    z-index: 1;
}

.utilitybutton.selectedbutton {
    opacity: 1
}

.utilitybutton.longcall {
    background: url(../../shared/images/longcallbutton.png) no-repeat;
    background-size: contain;
    left: 740px;
    top: 20px;
    -webkit-transition: all .25s ease-in-out;
    -webkit-transform: translateY(0);
}

.utilitybutton.shortcall {
    background: url(../../shared/images/shortcallbutton.png) no-repeat;
    background-size: contain;
    left: 820px;
    top: 20px;
    -webkit-transition: all .25s ease-in-out;
    -webkit-transform: translateY(0);
}

.selectslides .utilitybutton.longcall,
.selectslides .utilitybutton.shortcall,
.cancel .utilitybutton.longcall,
.cancel .utilitybutton.shortcall {
    -webkit-transform: translateY(100px);
}

.customlayoutlibraryopen .utilitybutton.longcall,
.customlayoutlibraryopen .utilitybutton.shortcall {
    opacity: .6;
    pointer-events: none
}

#selectbutton,
#addtoslidesbutton,
#cancelslidesbutton {
    height: 40px;
    width: auto;
    position: absolute;
    color: #1d366d;
    left: 668px;
    top: 35px;
    -webkit-transition: all .25s ease-in-out;
}

#addtoslidesbutton {
    top: 25px;
    left: 750px;
}

#cancelslidesbutton {
    position: absolute;
    left: 860px;
    top: 35px;
}

#addtoslidesbutton,
#cancelslidesbutton {
    -webkit-transform: translateY(-100px);
}

.selectslides #addtoslidesbutton,
.selectslides #cancelslidesbutton,
.cancel #addtoslidesbutton,
.cancel #cancelslidesbutton {
    -webkit-transform: translateY(0);
}

.selectslides #selectbutton,
.cancel #selectbutton,
.customlayoutlibraryopen #selectbutton {
    -webkit-transform: translateY(100px);
}

.actionlink {
    color: #4d95d0;
    display: none;
    position: absolute;
    top: -10px;
}

.actionlink.blue {
    color: #fff;
}

.selectslides #cancelslidesbutton.actionlink,
.selectslides #addtoslidesbutton.actionlink {
    display: block
}

.customlayoutscontainer {
    position: absolute;
    top: 86px;
    width: 1024px;
    height: 682px;
    overflow: hidden;
    -webkit-transform: translateX(1024px);
    -webkit-transition: all .25s ease-in-out;
    background: url(../../shared/images/customlayoutslibrary-bg.png);
    background-size: contain;
    z-index: 1;
    opacity:0;
}

.customlayoutlibraryopen .customlayoutscontainer {
    -webkit-transform: translateX(0);
    opacity:1;
}

.customlayoutscontent {
    position: absolute;
    top: 30px;
    left: 50px;
}

#customlayoutsscroller {}

#tilelist {
    display: block;
    margin: 30px 0 0 60px;
}

#tilelist.hidden {
    display: none
}

.customlayoutscontent h1 {
    margin: 0 0 10px 0;
}

#customlayoutholder {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 0;
    width: 940px;
    height: 135px;
    overflow: hidden;
}

#cuustomlayoutsclosebutton {
    height: 55px;
    width: 53px;
    background: url(../../shared/images/bigx.png) no-repeat;
    background-size: contain;
    position: relative;
    left: 864px;
    top: 9px;
    margin-bottom: 60px;
    -webkit-transition: all .25s ease-in-out;
    pointer-events: all;
}

.displayingsinglelayout #cuustomlayoutsclosebutton {
    opacity: 0;
    -webkit-transform: scale(.6) translateY(-20px);
    pointer-events: none;
}

#singlecustomlayoutclosebutton {
    height: 73px;
    width: 88px;
    //background: url(../../shared/images/backarrow.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 883px;
    top: 0;
    -webkit-transition: all .25s ease-in-out;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.displayingsinglelayout #singlecustomlayoutclosebutton {
    opacity: 1;
    -webkit-transform: scale(.6) translateX(-20px) translateY(-20px);
    pointer-events: all;
}

.customlayoutsheadline {
    color: #fff;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: 0 0 20px 0;
    margin: 0 0 15px 0;
    font-family: 'SanFran-Regular'
}

#newlayoutbutton {
    display: none;
    height: 123px;
    width: 123px;
    background: rgba(255, 255, 255, .9);
    border-radius: 50%;
    margin: 10px 10px 0 0;
    float: right;
}

#newlayoutbutton span {
    position: relative;
    top: 54px;
    left: 24px;
    font-size: 15px;
}

#newlayoutbutton.enabled {
    display: inline-block;
}

#editlayoutbutton {
    position: relative;
    top: -27px;
    left: 910px;
    margin-bottom: -16px;
    display: none;
}

#specialcancelbutton,
#specialsavebutton {
    display: none;
    margin: 0 20px 0 0;
    font-size: 10px;
    text-transform: uppercase;
}

#deletelayoutsbutton {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 10px;
    text-transform: uppercase;
}

#savebutton {
    position: relative;
    top: -19px;
    left: 883px;
    display: none;
}

.customlayoutlibraryopen #deletelayoutsbutton {
    display: none;
}

.specialedit #deletelayoutsbutton {
    display: none
}

.specialedit #specialcancelbutton,
.editedlayout.specialedit #specialsavebutton,
.editedlayout.specialedit #deletelayoutsbutton {
    display: inline-block
}

.editmenu {
    display: inline;
    font-family: 'SanFran-Regular';
    color: #fff;
    font-size: 15px;
}

.editlayouts #editlayoutbutton,
.displayingsinglelayout #editlayoutbutton,
.displayingsinglelayout.specialedit #specialcancelbutton,
.displayingsinglelayout.specialedit #deletelayoutsbutton,
.editedlayout #savebutton {
    display: inline-block
}

.displayingsinglelayout.specialedit #editlayoutbutton,
.specialedit #showallbutton {
    display: none;
}

#customlayoutsinglecontainertilelist .singletile {
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
}

.displayingsinglelayout.specialedit #customlayoutsinglecontainertilelist .singletile {
    display: inline-block;
    position: relative
}

.displayingsinglelayout #tilelisttitle {
    pointer-events: none;
}

.displayingsinglelayout.specialedit #tilelisttitle {
    pointer-events: all;
}

.displayingsinglelayout #selectbutton {
    display: none;
}
