<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Patient Profiles</title>

    <!-- CSS - Global and Module Level -->
    <link rel="stylesheet" href="../shared/css/popup.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/global.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/kinesis.appnav.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/pagetransistion.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/common.css" type="text/css">
    <!-- CSS - Page Level -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>

<body class="disableclick patientprofiles" data-trackingabbreviation="FPO">
    <div id="pagecontenttransition" class="hidecontent">
        <div class="topblackbar"><span>Please see accompanying full Prescribing Information, including Medication Guide</span></div>
        <div id="container" class="container">
            <div id="ellipses"></div>
            <div id="jasonplussign"></div>
            <div id="jasonpic"></div>
            <div id="willpic"></div>
            <div id="jessicapic"></div>


            <div id="willpicsmall">
                <p><strong>Will</strong><br>Shares a Q&amp;A guide<br>for your patients</p>
            </div>
            <div id="jessicapicsmall">
                <p><strong>Jessica</strong><br>Shares a meal<br>planning guide</p>
            </div>

            <div id="innercontainer">
                <div class="scrollingcontent">
                    <div id="panel1" class="panel">
                        <div id="headlinetext" class="headlinetext">
                            <h1>PATIENT PROFILES</h1>
                            <p class="subhead">See what using GluViva is like – through a patient’s eyes.</p>
                        </div>
                        <div class="tapareajason remotebtn" ontouchend="tapAreaForJason()"></div>
                    </div>
                    <div id="panel2" class="panel">
                        <div id="jasoncircle" class="movable quote">
                            <h2>JASON</h2>
                            <p>“GluViva gives me back the control <br>that I need over my life, so I can <br>focus on the stuff that really <br>matters.”</p>
                        </div>
                    </div>
                    <div id="panel3" class="panel">
                        <div id="jasonbox" class="movable story">
                            <h2>JASON'S STORY</h2>
                            <div>
                                <ul>
                                    <li>Baseline A1C: 8.2%</li>
                                    <li>Type 1 Diabetes</li>
                                    <li>Age: 32</li>
                                    <li>Diagnosed: As a young adult</li>
                                </ul>
                                <h3>Treatment</h3>
                                <p>Jason’s daily BG numbers are not consistently within target <br>range. He doesn't understand the importance of increasing <br>his dose further. It's time to go over his treatment plan and <br>make changes.</p>
                                <ul>
                                    <li>Changed to 45 units of GluViva</li>
                                    <li>Titrated GluViva to 64 units once daily (FPG <br><span>target: 105 mg/dL)</span></li>
                                    <li>Achieved 0.73% reduction in A1C and predictable BG readings<br /><span>in 6 months</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="panel4" class="panel">
                        <div id="jessicacircle" class="movable quote">
                            <h2>JESSICA</h2>
                            <p>“It's easy to take GluViva <br>with me anywhere.”</p>
                        </div>
                    </div>
                    <div id="panel5" class="panel">
                        <div id="jessicabox" class="movable story">
                            <h2>JESSICA'S STORY</h2>
                            <div>
                                <ul>
                                    <li>Baseline A1C: 8.2%</li>
                                    <li>Type 1 Diabetes</li>
                                    <li>Age: 41</li>
                                    <li>Diagnosed: As an adult</li>
                                </ul>
                                <h3>Treatment</h3>
                                <p>Jessica’s daily BG numbers are not consistently within target <br>range. She doesn't understand the importance of increasing <br>her dose further. It's time to go over her treatment plan and <br>make changes.</p>
                                <ul>
                                    <li>Changed to 45 units of GluViva</li>
                                    <li>Titrated GluViva to 64 units once daily (FPG target: 105 mg/dL)</li>
                                    <li>Achieved 0.73% reduction in A1C and predictable BG readings<br /><span>in 6 months</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="panel6" class="panel">
                        <div id="willcircle" class="movable quote">
                            <h2>WILL</h2>
                            <p>“I've never used an <br>insulin treatment that's <br>this simple before.”</p>
                        </div>
                    </div>
                    <div id="panel7" class="panel">
                        <div id="willbox" class="movable story">
                            <h2>WILL'S STORY</h2>
                            <div>
                                <ul>
                                    <li>Baseline A1C: 8.2%</li>
                                    <li>Type 2 Diabetes</li>
                                    <li>Age: 41</li>
                                    <li>Diagnosed: As an adult</li>
                                </ul>
                                <h3>Treatment</h3>
                                <p>Will’s daily BG numbers are not consistently within target <br>range. He doesn't understand the importance of increasing <br>his dose further. It's time to go over his treatment plan and<br>make changes.</p>
                                <ul>
                                    <li>Changed to 45 units of GluViva</li>
                                    <li>Titrated GluViva to 64 units once daily (FPG target: 105 mg/dL)</li>
                                    <li>Achieved 0.73% reduction in A1C and predictable BG readings<br /><span>in 6 months</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT GOES HERE -->
        </div>
        <!-- //container -->
        <!-- Global App Navigation -->
        <div id="header-nav" class="nav-bg">
            <div class="homebutton remotebtn"></div>
        </div>
        <div id="leftnavigationalarrow" class="arrow leftarrow" ontouchend="goPrev()"></div>
        <div id="rightnavigationalarrow" class="arrow rightarrow" ontouchend="goNext()"></div>

        <div class="slideout">
            <div class="grey-btn remotebtn"></div>
            <ul id="swimlaneUL">

            </ul>
        </div>
         
         <!-- Autonomous Voice Interface -->
       <!-- <div id="avi" class="popup inactive button" popBg="1" onClosing="autonomousVoiceInterface.clearavichatwindow()">
            <div class="avi-left">
                <div class="avi-chatwindowheadline">Ask a question</div>
                <div id="avichatwindow" class="avi-chatwindow"><div class="avi-response"><div class="avi-button" ontouchend="openavi()">Continue Demo</div></div></div>
            </div>
            <div class="avi-right">
                <div class="avi-chatwindowheadline">Choose a topic below:</div>
                <div class="avi-topic" ontouchend="autonomousVoiceInterface.askAVI('avidemo')">Catherine demo</div>
            </div>
        </div>-->

        <!-- //Global App Navigation -->
        <footer>
            <!--<span class="footer-pageindicator">Patient Profiles</span>-->
            <span class="footer-indications">Please tap above for Indications and Important Safety Information</span>
            <span class="footer-address">&copy;2016 GluViva Overland Park, KS  64114&nbsp;&nbsp;&nbsp;&nbsp;November 2015</span>
            <span class="footer-logo"></span>
        </footer>
    </div>

    <div id="isi" class="popup inactive button slidedown" frame="../shared/isi-frame.html" popBg="1"></div>

    <!-- Javascript -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/veeva-library-4.1.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/kinesis.lib/iRep-tracking.js"></script> -->
    <!--<script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>-->
    <script type="text/javascript" src="../shared/js/kinesis.lib/popups.min.js"></script>

    <script type="text/javascript">
        var zipName = "Standalone-GluVivaKinesis-patientprofiles.zip";
        var dsaId = "StandaloneGluVivaKinesisSummitExample";
    </script>

    <script type="text/javascript" src="../shared/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="../shared/js/html2canvas.js"></script>
    <script type="text/javascript" src="../shared/js/remote.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script type="text/javascript">
        $('.grey-btn').on("touchend", function() {
            $('.slideout').toggleClass('slideout-open');
        });
    </script>

    <!-- END PUT YOUR PAGE SCRIPTS HERE -->


    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBase-v1.0.js"></script>
    <script type="text/javascript" src="../shared/js/TileData.js"></script>
    <script type="text/javascript" src="../shared/js/forcedISI.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisNavigation.js"></script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script type="text/javascript" src="../shared/js/iscroll-probe.min.js"></script>
    <script type="text/javascript">
        var scroller, doneScrolling = true;

        function createScroller() {
            setTimeout(function() {
                scroller = new IScroll('#innercontainer', {
                    probeType: 3,
                    bounce: false,
                    snap: '.panel',
                    tap: true,
                    deceleration: .5
                });


                scroller.on('scroll', function() {
                    adjustGraphics(scroller.y);
                    userCanJump = false;
                    doneScrolling = false;
                }, true);

                scroller.on('scrollEnd', function() {
                    setTimeout(function() {
                        adjustGraphics(scroller.y);
                    }, 300);
                    userCanJump = true;
                    doneScrolling = true;
                }, true);
            }, 100)
        }

        jasonplussign.addEventListener('tap', tapAreaForJason, false);



        var jasonTravel = 0,
            jasonScale = 1,
            jessicaTravel = 0,
            jessicaScale = 1,
            willTravel = 0,
            willScale = 1;


        function adjustGraphics(scrollerposition, startTouch, moveTouch) {
            var overallposition = Math.abs(scrollerposition);
            willpicsmall.style.opacity = 1 - overallposition;
            jessicapicsmall.style.opacity = 1 - overallposition;
            jasonplussign.style.opacity = 1 - overallposition;
            headlinetext.style.opacity = 1 - overallposition;
            ellipses.style.opacity = 1 - overallposition;

            var jasonposition = jasonpic.getBoundingClientRect(),
                jasonleft = jasonposition.left;
            //console.log("jason:  " + jasonleft)

            //Jason transitions
            if (350 > overallposition) {
                if (jasonleft > 60) {
                    jasonpic.style.webkitTransform = "translateX(0px)";
                }

            }
            if (350 < overallposition && overallposition <= 607) {
                jasonpic.style.webkitTransform = "translateX(60px) translateY(0) scale(1)";

            }

            if ((700 < overallposition && overallposition <= 1380)) {
                jasonpic.style.webkitTransform = "translateX(60px) translateY(200px) scale(1.7)";
                jessicapic.style.webkitTransform = "translateX(0) translateY(0) scale(1)";

            }

            if (1480 < overallposition && overallposition <= 2470) {
                jasonpic.style.webkitTransform = "translateX(-500px) translateY(200px) scale(1.7)";
                jessicapic.style.webkitTransform = "translateX(-460px) translateY(0) scale(1)";
            }

            if (2570 < overallposition && overallposition < 2850) {
                jessicapic.style.webkitTransform = "translateX(-460px) translateY(230px) scale(1.7)";
            }

            if (3050 < overallposition && overallposition < 3350) {
                jessicapic.style.webkitTransform = "translateX(80px) translateY(230px) scale(1.7)";
                willpic.style.webkitTransform = "translateX(0) translateY(0) scale(1)";
            }

            if (3400 < overallposition && overallposition <= 4000) {
                willpic.style.webkitTransform = "translateX(0) translateY(-650px) scale(1)";
                willpic.style.zIndex = 2;
            }

            if (4000 < overallposition) {
                willpic.style.webkitTransform = "translateX(0) translateY(-550px) scale(1.3)";
                willpic.style.zIndex = 0;
            }
        }


        function tapAreaForJason() {
            if (doneScrolling) {
                adjustGraphics(607)
                scroller.scrollTo(0, -607)
            }
        }
    </script>
   
    <script type="text/javascript">
    	function openavi(){
			autonomousVoiceInterface.init({
				"name": "Catherine",
				"product": "GluViva",
				"avilight":true
			})
		}
	
		// slide to a particular section
        function slidePageTo(scrollTopValue) {
           scroller.scrollTo(0, scrollTopValue, 1000);
        }
				
		createScroller()
	</script>
				

    <script type="text/javascript" src="../shared/js/slideDynamicRecapEmailRecorder.js"></script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/page-bounce.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/page-transitions.js"></script>
    <script type='text/javascript' src='../shared/js/avi/avi-loader.js'></script>
    <!--<script type="text/javascript" src="../shared/js/trackingConstructor.js"></script>-->
</body>

</html>
