/*Homepage nav styles */
#bodyhome {position:fixed;}

#header-nav #logo {pointer-events:all}


#containerhome {position: relative; top: 86px;width:1024px; height: 682px;overflow:hidden;background:url(../images/utility-screen-bg.png); background-size:contain;}
#scrollablesection {position: relative; top: 0; left: 0;  width:1024px;height: 682px;overflow: hidden;background:rgba(255, 255, 255, .5);}

#confirmsave .popBtn, #confirmcancel .popBtn{display:none;}

.tile-list {height:682px; width:1024px;}
.displayingsinglelayout.specialedit .tile-list {}

.tile-list li {margin: 0 10px 20px 0; width: 295px; height: 298px; display:inline-block; background-size:contain; background-repeat:no-repeat; position:relative}
.tile {margin-right: 20px; width: 295px; height: 298px;}
.tileList .blank {outline: 1px solid red; background-color: rgba(255,0,0,.5);pointer-events: none;}

.selectedTab::after {content: "";z-index: 0;position: absolute;top: 27px; left: 25px;  width: 246px; height: 246px; border-radius: 50%;background-image: none; background-color: rgba(255,255,255,0.6);}
.markedTab {position: absolute; z-index: 1;top: 240px; left: 135px;width: 20px; height: 20px; font-size: 16px; line-height: 24px; text-align: center; color: #fff; pointer-events: none; -webkit-border-radius: 20px; border: 2px solid #fff; background-color: #17b4ef; box-shadow: 1px 1px 2px rgba(0,0,0,0.2); display:none;}
.selectedTab .markedTab {display:block;}

.scrollablecontainer .tile-list {pointer-events:all;}
.scrollablecontainer.scrolling .tile-list li, .scrollablecontainer.scrolling .tile-list div {pointer-events:none;}
.scrollablewidth {padding-right:40px;}

/* Custom layout container */
#customlayoutcontainer {width: 1024px;height: 580px;position: absolute; padding: 10px; -webkit-transform:translateX(1024px); -webkit-transition:all .25s ease-in-out; top: 113px;}
#customlayoutcontainer.open {-webkit-transform:translateX(0);}
#customlayoutcontainer.openstatic {-webkit-transform:translateX(0);-webkit-transition:all 0s ease-in-out!important;}
#customlayoutcontainer .headline {text-align: center;color: #555555; opacity:0}
#customlayoutcontainer .headline.visible{opacity:1}

#layoutslibrary{height:410px; overflow:hidden;}
#customlayoutholder, #myinsightscustomlayoutholder  {font-family:'SanFran-Heavy';-webkit-transition:all .25s ease-in-out;}
#customlayoutholder .nodatamessage, #myinsightscustomlayoutholder .nodatamessage {color:#fff; float:right;font-family:'SanFran-Regular';}
.cancel #customlayoutholder .nodatamessage {display:none}
#customlayoutholder .tilegroup, #myinsightscustomlayoutholder .tilegroup {width:144px; height:140px; position:relative;display: inline-block; margin: 0 0 0 10px;vertical-align: top; -webkit-transition:all .25s ease-in-out;float: right;}

#customlayoutholder .tilegroup.deleting {-webkit-transform:scale(0);}
#customlayoutholder .tilegroup.deleting.gone {display:none}
#customlayoutholder .tilegroup .deletegroupbutton {width:25px; height:25px;  background:url(../images/bigx.png) no-repeat; background-size:contain;position: absolute;top: 20px; left: 10px; display:none;}
.specialedit #customlayoutholder .tilegroup .deletegroupbutton {display:block;}
#customlayoutholder .tilegroup img, #myinsightscustomlayoutholder .tilegroup img {position:absolute;width:145px}
#customlayoutholder .tilegroup .tilegroupimages, #myinsightscustomlayoutholder .tilegroup .tilegroupimages {-webkit-transform: scale(.97);}
.specialedit #customlayoutholder .tilegroup .tilegroupimages {pointer-events:none}
#customlayoutholder .tilegroup .tilegroupimages::after, #myinsightscustomlayoutholder .tilegroup .tilegroupimages::after {content:'';position:absolute;top: 11px; left: 11px; width: 125px; height: 125px; background-color:rgba(255, 255, 255, .7); border-radius:50%;}

/* !!!!!! Segment colors - update as needed.  The color (orange, darkblue,lightblue, purple, etc.) can be defined in the TileData.js, in the segment attribute of each tile !!!!!!*/
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor {position: absolute;width: 150px;height: 150px; border-radius:50%}
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor.white {background-color:none;}
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor.orange {background-color:#ea8c1f;}
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor.darkblue {background-color:#186280;}
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor.lightblue {background-color:#1da8da;}
#customlayoutholder .tilegroup .tilegroupimages .segmentcolor.purple {background-color:#a276b2;}

.specialedit #customlayoutcontainer #customlayouttilecontainer .tilegroup .tilegroupimages {pointer-events:none}
#customlayoutcontainer #customlayouttilecontainer .tilegroup.twoimages .tilegroupimages {-webkit-transform: scale(.95);top:3px; position: relative;}
#customlayoutcontainer #customlayouttilecontainer .tilegroup.threeimages .tilegroupimages {-webkit-transform: scale(.95);top:3px; position: relative;}
#customlayoutcontainer #customlayouttilecontainer .tilegroup.twoimages .tilegroupimages div:nth-of-type(1) {-webkit-transform: scale(.95);top: -7px;}
#customlayoutcontainer #customlayouttilecontainer .tilegroup.threeimages .tilegroupimages div:nth-of-type(1) {-webkit-transform: scale(.9);top: -14px;}
#customlayoutcontainer #customlayouttilecontainer .tilegroup.threeimages .tilegroupimages div:nth-of-type(2) {-webkit-transform: scale(.95);top: -7px;}
#customlayoutholder .tilegroup .tilegroupname, #myinsightscustomlayoutholder .tilegroup .tilegroupname {text-align: center;font-size: 15px;color: #000;position: absolute;top: 65px; left: 24px;display: block;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; width:100px;padding:0 0 1px 0; text-transform:capitalize;}
#customlayoutholder .tilegroup .tilegroupname.double, #myinsightscustomlayoutholder .tilegroup .tilegroupname.double {top: 55px; }
#customlayoutcontainer #customlayouttilecontainer #defaultlayoutplaceholder {background:url(../images/tile-bins@2x-FPO.png) no-repeat; background-size:contain}
.deletelayouts #customlayoutcontainer #customlayouttilecontainer #defaultlayoutplaceholder, .specialedit #customlayoutcontainer #customlayouttilecontainer #defaultlayoutplaceholder {display:none;}
#customlayoutcontainer #customlayouttilecontainer #defaultlayoutplaceholder.tilegroup span.groupcount {font-size:15px; text-align:center; position:absolute; top: 97px;left: 23px;color: #fff;}
#customlayoutcontainer .customlayoutcontainerfooter {position: absolute;bottom: 30px;font-weight: bold;left: 40px;font-size: 17px;}

#customlayoutholder .tilegroup .interiordiv {text-align:center}


/* Transistions to single custom layout  */
#customlayoutsscroller, #myinsightscustomlayoutsscroller, #singlelayout{-webkit-transition:all .25s ease-in-out;}
#singlelayout{-webkit-transform:translateY(500px)}
.displayingsinglelayout #customlayoutsscroller, .displayingsinglelayout #myinsightscustomlayoutsscroller{-webkit-transform:translateY(-700px)}
.displayingsinglelayout #singlelayout{-webkit-transform:translateY(-530px)}

/* Single custom layout container */
#singlelayoutheadline{font-family:'SanFran-Heavy'; color:#fff; text-transform:capitalize;display: inline; margin-right:20px;}
#customlayoutsinglecontainertilelist.tile-list { width:940px;    margin-top: 20px;}
#customlayoutsingle .tile-list div.singletile, #customlayoutsingle .tile-list div.blankdynamictile {position: relative; margin: 0 0 10px 0; height: 290px; width: 295px;background-size: 284px 284px;background-position: 10px 10px;  background-repeat: no-repeat; }
#customlayoutsingle  #customlayoutsinglecontainer {width:100px;overflow:hidden;}
#customlayoutsinglecontainerscrollablesection {position: relative; top: 5px; left: 10px;}

.specialedit #customlayoutsingle .tile-list div.singletile {}
.specialedit #customlayoutsingle .tile-list div.singletile.notallowed {background-size: 284px 284px!important;background-position: 5px 5px!important;}
.deleteslide {width:25px; height:25px;  background:url(../images/bigx.png) no-repeat; background-size:contain;position: absolute;top: 30px;left: 260px; display:none;}
.specialedit #customlayoutsingle .tile-list div.tileclickoverlay {display:none}
.specialedit.displayingsinglelayout .deleteslide {display:block; pointer-events:all; z-index: 1;}
.specialedit .tile-list div.singletile[data-required="true"] .deleteslide {display:none}
.specialedit .tile-list div.singletile.deleting {-webkit-transform:scale(0); -webkit-transition:all .25s ease-in-out;}
.tile-list div.singletile.deleting.gone {display:none!important}

/* Save custom layout popup */
#savecallflowpopup {    background: #fff;width: 400px;height: 200px;left: 300px;top: 100px;box-shadow: none;border-radius: 0;z-index: 9997;}
#savecallflowpopup_bg { background-color:black;-webkit-transition: all .001s; height:768px; }
#savecallflowpopup_bg.active {opacity:.7; top:0; z-index:9996}
#savecallflowpopup h2 {font: 18px/20px 'HelveticaNeue-Bold';color: #555555;padding: 20px 0 10px 0; text-align:center;display:none;}
#savecallflowpopup.newpopup h2.newpopup, #savecallflowpopup.editpopup h2.editpopup {display:block}
#savecallflowpopup h3 {font: 15px/17px 'HelveticaNeue';color: #555555;padding: 0 0 10px 0; text-align:center;}
#savecallflowpopup .savecallflowpopup-content {padding: 0 45px 15px 0px;margin: 0;}
#savecallflowpopup input {-webkit-user-select: initial;font: 15px/18px 'HelveticaNeue';margin: 0 0 30px 0;border: 1px solid #ccc;border-radius: 0;outline: 0;color: #6d6f71;width: 350px;height: 30px;padding: 10px;margin: 0 5px 0 25px;background: #fff;}
#savecallflowpopup input::-webkit-input-placeholder {position:relative; top:4px;}
#savecallflowpopup .buttongroup {width: 96%; margin: 0 0 0 25px;}
#savecallflowpopup .button {color: #fff;background: #ccc;float: left; width: 45%;padding: 12px 0;margin-right: 5px;text-transform: uppercase;text-align: center;font-family: 'HelveticaNeue';font-size: 20px;}
#savecallflowpopup .button.enabled {background: #666;}
#popupSaveButton {pointer-events:none;}
#popupSaveButton.enabled {pointer-events:all;}

/* Confirm Cancel popup */
#confirmcancel { background: #fff;width: 400px;height: 150px;left: 300px;top: 100px;box-shadow: none;border-radius: 0;z-index: 9997;}
#confirmcancel_bg { background-color:black;-webkit-transition: all .001s; height:768px; }
#confirmcancel_bg.active {opacity:.7; top:0; z-index:9996}
#confirmcancel h2 {font: 18px/20px 'HelveticaNeue';color: #555555;padding: 20px 0 10px 0; text-align:center;}
#confirmcancel h3 {font: 15px/17px 'HelveticaNeue';color: #555555;padding: 0 0 10px 0; text-align:center;}
#confirmcancel .savecallflowpopup-content {padding: 0 45px 15px 0px;margin: 0;}
#confirmcancel .buttongroup {width: 96%; margin: 0 0 0 25px;}
#confirmcancel .button {color: #fff;background: #ccc;float: left; width: 45%;padding: 12px 0;margin-right: 5px;text-transform: uppercase;text-align: center;font-family: 'HelveticaNeue';font-size: 20px;}
#confirmcancelSaveButton.button {background: #666;}

/* Confirm Save popup */
#confirmsave { background: #fff;width: 400px;height: 150px;left: 300px;top: 100px;box-shadow: none;border-radius: 0;z-index: 9997;}
#confirmsave_bg { background-color:black;-webkit-transition: all .001s; height:768px; }
#confirmsave_bg.active {opacity:.7; top:0; z-index:9996}
#confirmsave h2 {font: 18px/20px 'HelveticaNeue';color: #555555;padding: 20px 0 10px 0; text-align:center;}
#confirmsave h3 {font: 15px/17px 'HelveticaNeue';color: #555555;padding: 0 0 10px 0; text-align:center;}
#confirmsave .savecallflowpopup-content {padding: 0 45px 15px 0px;margin: 0;}
#confirmsave .buttongroup {width: 96%; margin: 0 0 0 25px;}
#confirmsave .button {color: #fff;background: #ccc;float: left; width: 45%;padding: 12px 0;margin-right: 5px;text-transform: uppercase;text-align: center;font-family: 'HelveticaNeue';font-size: 20px;}
#confirmsaveSaveButton.button {background: #666;}
