.popup {position: absolute; width: 888px; height: 540px; left: 80px; top: 85px;  background-color: #fff; box-shadow:0px 0px 5px rgba(0, 0, 0, .3); border-radius:4px;-webkit-transition: all .5s; display: none; z-index:1000;}
.popup.inactive {opacity: 0; }
.popup.active {opacity: 1;}

.popup iframe {border: 0; width: 100%; height: 100%}

/*these classes are for special effects, they can be tweaked by overriding this CSS*/

/*scale = the popup shrinks and grows out of the bottom right corner when it opens and closes. */
.popup.scale {  -webkit-transform-origin: 100% 100%;}
.popup.scale.inactive {-webkit-transform: scale(0); }
.popup.scale.active {-webkit-transform: scale(1);  }

.popup.border {border: 5px solid #000; -webkit-background-clip: padding-box}

.popup.round {-webkit-border-radius: 10px;}

/*these styles are for the background or "fade out" */
.popBg {position: absolute;z-index: 11;top: 0;left: 0;width: 1024px;height: 768px;-webkit-transition: all .5s;background-color: #000;display: none;}
.popBg.inactive {opacity: 0}
.popBg.active {opacity: .3}

/*these styles are for the close button */
.popBtn {height: 56px; width: 100px; position: absolute; top: 470px; left: 735px; z-index:1000; }
#ic_btn {top: 650px; left: 860px;}


#pop-ref_bg{ background: #000; opacity:0; }
#pop-ref_bg.active{ opacity:.9; }
#pop-ref{  height:576px; }