<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>Injection Sites</title>

    <!-- CSS - Global and Module Level -->
    <link rel="stylesheet" href="../shared/css/popup.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/common.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/pagetransistion.css" type="text/css">

    <!-- CSS - Page Level -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>

<body class="disableclick" data-trackingabbreviation="FPO">
    <div id="pagecontenttransition" class="hidecontent">
        <div class="container">
            <!-- CONTENT GOES HERE -->
            <div class="man-picture"></div>
            <div class="shapes-container">
                <div class="shapes-content-1">
                    <div class="shape-1"></div>
                </div>
                <div class="shapes-content-2">
                    <div class="shape-2"></div>
                    <div class="shape-3"></div>
                </div>
                <div class="shapes-content-3">
                    <div class="shape-4"></div>
                    <div class="shape-5"></div>
                </div>
            </div>
            <div class="content">
                <div class="content-container">
                    <h1>INJECTION SITES</h1>
                    <h3>GluViva SimplePlan pen should be used for injection into the layer of fatty tissue just under the skin where there is less sensitivity. Do not inject into the muscle. Moles and scars should also be avoided.</h3>
                    <p>Injection sites should be rotated between these three areas. The<br>rate of absorption for GluViva is similar for all three.</p>
                    <div class="item-list">
                        <div class="item item-1 remotebtn" data-item="1">
                            <div class="item-number">
                                <p class="item-title"><strong>Abdomen</strong></p>
                            </div>
                            <div class="item-content">
                                <p class="item-description">Except for a<br>2-inch radius<br>around the navel</p>
                            </div>
                        </div>
                        <div class="item item-2 remotebtn" data-item="2">
                            <div class="item-number">
                                <p class="item-title"><strong>Top and<br>outer<br>thighs</strong></p>
                            </div>
                            <div class="item-content">
                                <p class="item-description">Do not inject too<br>close to the bony<br>area above the knee</p>
                            </div>
                        </div>
                        <div class="item item-3 remotebtn" data-item="3">
                            <div class="item-number">
                                <p class="item-title"><strong>Outer,<br>upper<br>arms</strong></p>
                            </div>
                            <div class="item-content">
                                <p class="item-description">Inject in the outer<br>back of the upper<br>arm where there<br>is fatty tissue</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT GOES HERE -->
        </div>
        <!-- //container -->
        <!-- Global App Navigation -->
        <div id="header-nav" class="nav-bg">
            <div class="homebutton remotebtn"></div>
        </div>
        <div id="leftnavigationalarrow" class="arrow leftarrow" ontouchend="goPrev()"></div>
        <div id="rightnavigationalarrow" class="arrow rightarrow" ontouchend="goNext()"></div>

        <!-- //Global App Navigation -->
        <div class="slideout">
            <div class="grey-btn remotebtn"></div>
            <ul id="swimlaneUL">

            </ul>
        </div>
    </div>

    <div id="isi" class="popup inactive button slidedown" frame="../shared/isi-frame.html" popBg="1"></div>

    <!-- Javascript -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/veeva-library-4.1.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/kinesis.lib/iRep-tracking.js"></script> -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/popups.min.js"></script>

    <script type="text/javascript" src="../shared/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="../shared/js/html2canvas.js"></script>
    <script type="text/javascript" src="../shared/js/remote.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.appnav.js"></script>

    <script type="text/javascript">
        var zipName = "Standalone-GluVivaKinesis-injectionsites.zip";
        var dsaId = "StandaloneGluVivaKinesisSummitExample";
    </script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBase-v1.0.js"></script>
    <script type="text/javascript" src="../shared/js/TileData.js"></script>
    <script type="text/javascript" src="../shared/js/forcedISI.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisNavigation.js"></script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script>
        var btns = document.getElementsByClassName('item'),
            content = document.querySelector('.content'),
            manPicture = document.querySelector('.man-picture'),
            shapesContainer = document.querySelector('.shapes-container'),
            itemList = document.querySelector('.item-list');

        $(function(){
          $("[class^='item item-']").on("touchend", function(){
            animateShapes($(this).data("item"));
          })
        })

        var animateShapes = function(number) {
            switch (number) {
                case 1:
                    shapesContainer.classList.remove('shape-selected-2', 'shape-selected-3');
                    shapesContainer.classList.add('shape-selected-1');
                    itemList.classList.remove('item-selected-2', 'item-selected-3');
                    itemList.classList.add('item-selected-1');
                    break;
                case 2:
                    shapesContainer.classList.remove('shape-selected-1', 'shape-selected-3');
                    shapesContainer.classList.add('shape-selected-2');
                    itemList.classList.remove('item-selected-1', 'item-selected-3');
                    itemList.classList.add('item-selected-2');
                    break;
                case 3:
                    shapesContainer.classList.remove('shape-selected-2', 'shape-selected-1');
                    shapesContainer.classList.add('shape-selected-3');
                    itemList.classList.remove('item-selected-2', 'item-selected-1');
                    itemList.classList.add('item-selected-3');
                    break;
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            // START ANIMATIONS
            content.classList.add('show')
            manPicture.classList.add('show')
            //setTimeout(function(){content.classList.add('show')}, 200);
            // setTimeout(function(){manPicture.classList.add('show')}, 400);
            animateShapes(1)
        });
    </script>

    <!-- PUT YOUR PAGE SCRIPTS HERE -->
    <script type="text/javascript">
        $('.grey-btn').on("touchend", function() {
            $('.slideout').toggleClass('slideout-open');
        });
    </script>

    <script type="text/javascript" src="../shared/js/slideDynamicRecapEmailRecorder.js"></script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/page-bounce.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/page-transitions.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/trackingConstructor.js"></script> -->
</body>

</html>
