.container {
    background: url('../../shared/images/overview-pen.png') 488px 51px/74px 630px no-repeat, linear-gradient(to bottom right, #113b71, #6b1455);
}

h1,
.subhead {
    text-align: center;
}

h1 {
    margin: 126px 0 70px;
    font-size: 90px;
    line-height: 1;
}

.subhead {
    font: 18px 'SanFran-Bold';
    letter-spacing: 0.8px;
}

ul.inpageul {
    margin: 104px 50px 0;
    padding: 3em 3.5em 69px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
}

ul.inpageul li {
    display: block;
    width: 256px;
    padding: 4px 0 0 2.9em;
    float: left;
    position: relative;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: 0.8px;
}

ul.inpageul li:nth-child(2) {
    padding-right: 30px;
}

ul.inpageul li:last-child {
    width: calc(100% - 512px);
}

ul.inpageul li:before {
    content: " ";
    display: block;
    border: solid 1em #531F5D;
    border-radius: 1em;
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 0.4em;
}

ul.inpageul li:after {
    content: " ";
    display: block;
    width: 10px;
    height: 24px;
    border: solid #FFF;
    border-width: 0 4px 4px 0;
    position: absolute;
    left: 14px;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slideout {
    margin-top: 46px;
}

.slideout ul {
    padding: 41px 0 0;
    background: none;
    margin: 15px 0 0 97px;
}

.slideout ul li {
    display: inline-block;
    margin: 26px 30px;
    padding: 0 0 0 0;
}