<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">

    <title>Kinesis Home</title>
    <!-- CSS - Global and Module Level -->
    <link rel="stylesheet" href="../shared/css/popup.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/global.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/common.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/kinesis.appnav.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/kinesisBase.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../shared/css/pagetransistion.css" type="text/css">
    <!-- CSS - Page Level -->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>

<body id="bodyhome" class="home disableclick" data-trackingabbreviation="HOM">
    <!-- !!!!!!!!!!!!!!!!! DO NOT CHANGE CONTAINERHOME DIV !!!!!!!!!!!!!!!!!!!!!! -->
    <div id="containerhome">
        <div id="editlayoutbutton" class="actionlink" ontouchend="kinesisBuilder.editLayout()">Edit Layout</div>
        <div id="savebutton" class="actionlink">Save</div>

        <div id="scrollablesection" class="horizontalScrollable">
            <ul id="tilelist" class="tile-list">
                <!-- CONTENT WILL BE LOADED DYNAMICALLY -->
            </ul>
        </div>
    </div>
    <div id="customlayoutscontainer" class="customlayoutscontainer">
        <div class="customlayoutscontent">
            <div id="cuustomlayoutsclosebutton" class="remotebtn"></div>
            <div id="singlecustomlayoutclosebutton" ontouchend="kinesisBuilder.closeCustomLayoutSingle()"></div>
            <div id="layoutslibrary">
                <div id="customlayoutsscroller">
                    <div class="customlayoutsheadline">CUSTOM CALLS</div>
                    <div id="customlayoutholder">
                        <div id="newlayoutbutton" class="newlayoutbutton" ontouchend="kinesisBuilder.addSlidesToGroup(\'newgroup\')"><span>New Layout</span></div>
                    </div>
                </div>
                <div id="myinsightscustomlayoutsscroller">
                    <div class="customlayoutsheadline">MYINSIGHTS-GENERATED CALLS</div>
                    <div id="myinsightscustomlayoutholder">

                    </div>
                </div>
            </div>
            <div id="singlelayout" class="singlelayout">
                <div class="singlelayoutheaderbar">
                    <div id="singlelayoutheadline"></div>
                    <div class="editmenu">
                        <div id="deletelayoutsbutton" ontouchend="kinesisBuilder.deleteLayouts()">Delete Layout</div>
                        <div id="specialsavebutton">Save</div>
                        <div id="specialcancelbutton">Cancel</div>
                    </div>
                </div>
                <div id="customlayoutsinglecontainertilelist" class="tile-list"></div>
            </div>
        </div>
    </div>




    <!-- !!!!!!!!!!!!!!!!! DO NOT CHANGE SAVCALLFLOWPOPUP DIV !!!!!!!!!!!!!!!!!!!!!! -->
    <div id="savecallflowpopup" class="popup inactive newpopup" popBg="1">
        <h2 class="newpopup">New Custom Layout</h2>
        <h2 class="editpopup">Edit Custom Layout</h2>
        <h3>Enter the name of the layout</h3>
        <div class="savecallflowpopup-content">
            <input type="text" id="callFlowName" onkeypress="return IsAlphaNumeric(event)" oninput="kinesisBuilder.enableDisable()" maxlength="150" />
        </div>
        <div class="clear"></div>
        <div class="buttongroup">
            <div id="popupCancelButton" class="button" ontouchend="closeThisPop('savecallflowpopup')">Cancel</div>
            <div id="popupSaveButton" class="button" ontouchend="kinesisBuilder.saveObject()">SAVE</div>
        </div>
    </div>

    <!-- !!!!!!!!!!!!!!!!! DO NOT CHANGE CONFIRMCANCEL DIV !!!!!!!!!!!!!!!!!!!!!! -->
    <div id="confirmcancel" class="popup inactive button" popBg="1">
        <h2>Changes Have Not Been Saved</h2>
        <h3>Would you like to save your changes?</h3>
        <div class="buttongroup">
            <div id="confirmcancelButton" class="button" ontouchend="kinesisBuilder.cancelDeleteLayout()">Cancel</div>
            <div id="confirmcancelSaveButton" class="button" ontouchend="kinesisBuilder.saveDeleteLayout()">SAVE</div>
        </div>
    </div>

    <!-- !!!!!!!!!!!!!!!!! DO NOT CHANGE CONFIRMSAVE DIV !!!!!!!!!!!!!!!!!!!!!! -->
    <div id="confirmsave" class="popup inactive button" popBg="1">
        <h2>Confirm Changes</h2>
        <h3>Would you like to save your changes?</h3>
        <div class="buttongroup">
            <div id="confirmsaveButton" class="button" ontouchend="kinesisBuilder.cancelDeleteSlide()">Cancel</div>
            <div id="confirmsaveSaveButton" class="button" ontouchend="kinesisBuilder.saveDeleteSlide()">SAVE</div>
        </div>
    </div>
    <!-- Global App Navigation -->
    <div id="header-nav" class="nav-bg">
        <div id="logoblank" class="remotebtn"></div>
        <div id="selectbutton" class="remotebtn">Select</div>
        <div id="addtoslidesbutton" class="remotebtn">Add Tiles<br />To Layout</div>
        <div id="cancelslidesbutton" class="remotebtn">Cancel</div>
        <div id="longcallbtn" class="utilitybutton segmentbutton longcall selectedbutton remotebtn" data-segmentname="long"></div>
        <div id="shortcallbtn" class="utilitybutton segmentbutton shortcall  remotebtn" data-segmentname="short"></div>
        <div id="menubtn" class="gearbutton utilitybutton remotebtn"></div>
    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="../shared/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="../shared/js/html2canvas.js"></script>
    <script type="text/javascript" src="../shared/js/remote.js"></script>

    <script type="text/javascript" src="../shared/js/kinesis.lib/veeva-library-4.1.js"></script>
    <!-- <script type="text/javascript" src="../shared/js/kinesis.lib/iRep-tracking.js"></script> -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/popups.min.js"></script>
    <!-- Mosaic base files -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/Draggable.min.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBase-v1.0.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/kinesisBusinessRules.js"></script>
    <script type="text/javascript" src="../shared/js/TileData.js"></script>
    <!-- End Mosaic base files -->
    <script type="text/javascript" src="../shared/js/kinesis.lib/page-bounce.js"></script>
    <script type="text/javascript" src="../shared/js/kinesis.lib/ftscroller.min.js"></script>
     <script type='text/javascript' src='../shared/js/avi/avi-loader.js' defer></script>
    <script type="text/javascript">
        //Remote
        function remoteLoad(){
          // updateRemoteNav([
          //   { type:"button", title:"Overview", selector:"#tilelist > li:eq(0)" },
          //   { type:"button", title:"Efficacy", selector:"#tilelist > li:eq(1)" },
          //   { type:"button", title:"Patient Profiles", selector:"#tilelist > li:eq(2)" },
          //   { type:"button", title:"Injection Sites", selector:"#tilelist > li:eq(3)" },
          //   { type:"button", title:"Formulary", selector:"#tilelist > li:eq(4)" },
          //   { type:"button", title:"Summary", selector:"#tilelist > li:eq(5)" }
          // ])
        }
        remoteLoad();

        var isDraggable, pageIsScrolling = false;
        setTimeout(function() {
            bodyhome.classList.remove("disableclick")
        }, 500);

        kinesisBuilder.init({
            "homeSlide": "Standalone-GluVivaKinesis-home.zip",
            "dsaID": "StandaloneGluVivaKinesisSummitExample",
            "addSlideBusinessRule": kinesisBuilderBusinessRules.addSlideBusinessRule,
            "deleteSlideBusinessRule": kinesisBuilderBusinessRules.deleteSlideBusinessRule,
            "dragAndDropBusinessRule": kinesisBuilderBusinessRules.dragAndDropBusinessRule,
            "reorderAfterDragAndDrop": kinesisBuilderBusinessRules.reorderAfterDragAndDrop,
            "devMode": false
        });


        function createClose() {
            setTimeout(function() {
                help.setAttribute("ontouchend", "closeThisPop('help')")
            }, 750)
        }

        function destroyClose() {
            help.setAttribute("ontouchend", "")
        }

        //Home button triggers
        $(function(){
          $("#logoblank").on("touchend", function(){
            kinesisBuilder.doubleTap()
          })
          $("#selectbutton").on("touchend", function(){
            enterTileSelectionMode();
          })
          $("#addtoslidesbutton").on("touchend", function(){
            kinesisBuilder.addSlidesTo()
          })
          $("#cancelslidesbutton").on("touchend", function(){
            exitTileSelectionMode()
          })
          $("#longcallbtn").on("touchend", function(e){
            kinesisBuilder.setTileOrder('long', 'reset', false, e);
          })
          $("#shortcallbtn").on("touchend", function(e){
            kinesisBuilder.setTileOrder('short', 'reset', false, e);
          })
          $("#menubtn, #cuustomlayoutsclosebutton").on("touchend", function(){
            kinesisBuilder.toggleCustomLayouts()
          })
        })

    </script>
    <!-- <script type="text/javascript" src="../shared/js/trackingConstructor.js"></script> -->
</body>

</html>
